@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #010409;
  --foreground: #171717;
  --card-background: #171717;
  --text-primary: #ffffff;
  --text-secondary: #a3a3a3;
  --purple-primary: #8b5cf6;
  --purple-hover: #7c3aed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010409;
    --foreground: #000000;
    --card-background: #171717;
    --text-primary: #ffffff;
    --text-secondary: #a3a3a3;
  }
}

@layer base {
  html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    color: var(--text-primary);
    background: var(--background);
  }
}

/* Custom utility classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}